<IfModule mod_rewrite.c>
	RewriteEngine on
	 #RewriteCond %{REQUEST_FILENAME} !-f
	 #RewriteCond %{REQUEST_FILENAME} !-d
	 #RewriteCond %{REQUEST_URI} "/public/"
	 RewriteCond %{REQUEST_URI} !^/(assets|assets/.*)$ 
	 RewriteRule ^(.+)$ index.php
</IfModule>